body {

  font-family: Avenir, Nexa, Arial, Helvatica, sans-serif;
  margin: 10% 30%;
}

.divider {
  color: #e0a608;
}

.emphasis{
  color: #b18100;
}

.resume-title{
  text-transform: uppercase;
  font-size: 30px;
  width: 50%;
  margin-bottom: -200px;
}
img{
  border: 5px solid #e0a608;
  border-radius: 50%;
  width: 20%; 
  float: right;
}
.profesh-sum-header{
  margin-top: 250px;
  background-color: #e0a608;
  color: white;
  padding-left: 2%;
  text-transform: uppercase;
}

.swprofish-header{
  background-color: #e0a608;
  color: white;
  padding-left: 2%;
  text-transform: uppercase;
}

.skills{
  background-color: #e0a608;
  color: white;
  padding-left: 2%;
 text-transform: uppercase; 
}

.rep-exp{
  background-color: #e0a608;
  color: white;
  padding-left: 2%;
 text-transform: uppercase; 
}

.normandale-exp{
  border-bottom: 1px solid #e0a608;
  padding-bottom: 15px;
}

.marketing2-exp{
  background-color: #eaeaea;
  border-bottom: 1px solid #e0a608;
  padding-bottom: 15px;
  padding-top: 1px;
}
.marketing1-exp{
  border-bottom: 1px solid #e0a608;
  padding-bottom: 15px;
}

.sephora{
  background-color: #eaeaea;
  border-bottom: 1px solid #e0a608;
  padding-bottom: 15px; 
  padding-top: 1px;
}

.freelance-exp{
  padding-bottom: 0.2px; 
}
.education{
  background-color: #e0a608;
  color: white;
  padding-left: 2%;
 text-transform: uppercase; 
}

.recognitions{
   background-color: #e0a608;
  color: white;
  padding-left: 2%;
 text-transform: uppercase; 
}
